body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: wheat;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 60px;
  background-color: #2c2e30;
}

header img {
  width: 50px;
  height: auto;
}

header h1 {
  font-family: monospace;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* max-width: 960px; */
  /* min-height: 100vh; */
  /* margin: 0 auto; */
  background-color: rgb(28, 35, 35);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.square {
  background-color: rgb(52 61 32);
  box-sizing: border-box;
  border: 1px dotted rgb(154 205 50 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 8px; */
  
}

.options input[id='reset'] {
  background-color: yellowgreen;
}

.options input[type="button"],
input[id='grid'] {
  height: auto;
  /* Ensure inputs do not stretch to 100% height */
  align-self: flex-start;
  /* Align inputs to the start of the container */
  width: 50%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  /* box-shadow: 0px 3px 10px rgb(0, 0, 0); */
  text-transform: uppercase;
  transform: scale(1);
  transition-duration: 0.3s;
}

.options input[type='button']:hover {
  transform: scale(0.9);
  transition-duration: 0.3s;
  box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

.options input[type='button']:active {
  opacity: .1;
  transform: scale(0.8);
}

.options input[name='black'] {
  background-color: black;
  color: white;
}

.options input[name='rainbow'] {
  background-image: linear-gradient(to right, red, orange, rgb(198, 198, 0), green, blue, indigo, violet);
  color: white;
}

.options input[type='color'] {
  width: 50%;
  height: 45px;
}

.options input[id='grid'] {
  border: 1px solid grey;
}

.options input[id='grid']::placeholder {
  font-size: 0.7rem;
  font-style: italic;
  text-transform: none;
  text-align: center;
}

.colorPicker-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.colorPicker-container label {
  width: 50%;
  color: bisque;
  font-family: monospace;
  text-align: center;
}

footer {
  height: 70px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2e30;
}

footer .author{
  font-family: monospace;
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 14px;
}

footer ul li {
  list-style: none;
}

footer ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: .7em;
  text-decoration: none;
  color: #f5deb3;
}

footer .social{
  width: 24px;

}